h1 {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    /* border-bottom: double 6px #87CEFA; */
  }

h2 {
  color: rgb(255, 255, 255);
  /* border-bottom: double 6px #87CEFA; */
}

p{
  color: white;
  font-size: 2.0em;
}

.example2{
  /* コレpadding-left: 500px; */
  text-align: center;
}

h4 {
  margin: 0 auto;
  color: black;
  /* text-align: center; */
  height:600px;
  line-height:60px;	
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /*ページの高さに合わせる場合 */
  background-color: black;
}

.background{
  background-color: black;
}

.text {
  text-align: center;
}

ul{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin: 15px;
}

/* p{
  font-size: ;
} */
