body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
    font-size: large;
    display: inline-block;
    background-color: #4caf50;
    color: #ffffff;
    text-align: center;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.difficulty-description {
    margin-top: 5px;
}

.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.back-button:hover {
    background-color: #808080;
}