/* Reset default margin and padding */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
  }
  
  /* Set basic styles for the page */
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
  }
  
  form {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-size: 12px;
  }
  