# torch
# torchaudio
# torchvision
# torchinfo
numpy
django
Pillow
opencv-python-headless
imutils
dlib
django-widget-tweaks

# chainer==7.8.1
# cmake==3.26.3
# filelock==3.12.0
# gnumpy==0.2
# joblib==1.2.0
# protobuf==4.23.2
# python-dateutil==2.8.2
# pytz==2023.3
# scikit-learn==1.2.2
# scipy==1.10.1
# six==1.16.0
# sklearn==0.0
# threadpoolctl==3.1.0
# typing-extensions==4.6.3
# tzdata==2023.3
