{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>test</title>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js "></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      <div>
        <input class = "button" type="button" onclick="send_img()" value="画像送信" id="send_button">
        <input class = "button" type="button" onclick="balance()" value="調整開始" id="balance_button">
        <input class = "button" type="button" onclick="link()" value="難易度選択へ" id="m_button">
      </div>
    </head>

    <body>
        <form>
            {% csrf_token%}
            <input class = "back-button" type="button" value="タイトル画面に戻る" onClick="history.back()">
        </form>
        <script>
            
            document.getElementById("m_button").disabled = true;

            window.addEventListener("keydown", push_Keydown);//ボタンを押したら行う処理を登録

            function push_Keydown()
            {
                //do something
            }

            function send_img()
            {
                //do something
            }

            function balance()
            {
                document.getElementById("m_button").disabled = false;
                //do something
            }

            function link()
            {
                let query = location.search;
                let value = query.split('=');

                let temp = value[1];

                location.href = "{% url 'login_app:diffsec' %}" + "?name=" + encodeURIComponent(temp);
            }
        </script>
    </body>
</html>
