{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        {% comment %} <title>ランキング</title> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/style4.css' %}">
        <!-- [if lt IE 9] -->
        <!-- <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> -->
        <!-- [endif] -->
        <!-- <script src="main.js"></script> -->
    </head>
    <body>
        
        <h1>ランキング</h1>
        <table>
            <tr>
                <th>順位</th>
                <th>名前</th>
                <th>スコア</th>
            </tr>
            <tr>
                <th id = class_1></th>
                <th id = class_1_name></th>
                <th id = class_1_score></th>
            </tr>
            <tr>
                <th id = class_2></th>
                <th id = class_2_name></th>
                <th id = class_2_score></th>
            </tr>
            <tr>
                <th id = class_3></th>
                <th id = class_3_name></th>
                <th id = class_3_score></th>
            </tr>
            <tr>
                <th id = class_4></th>
                <th id = class_4_name></th>
                <th id = class_4_score></th>
            </tr>
            <tr>
                <th id = class_5></th>
                <th id = class_5_name></th>
                <th id = class_5_score></th>
            </tr>
        </table>

        <script>
        
        var datas = []
        let tmp = []
        {% for ranking_data in ranking_list %}
            tmp = ["{{ranking_data.name}}", "{{ranking_data.score}}"]
            console.log(tmp)
            datas.push(tmp)
        {% endfor %}

        datas.sort( (a, b) => {
            return  b[b.length -1] - a[a.length - 1]
        })

        var maxLen = datas.length;

        var ranking = []
        for(let j = 0; j < 5; j++)
        {
            if(maxLen < j+1)
            {         
                document.getElementById("class_" + (j+1)).innerHTML = j+1;
                document.getElementById("class_" + (j+1) + "_name").innerHTML = "なし";
                document.getElementById("class_" + (j+1) + "_score").innerHTML = "なし";
                //ranking.push(["なし","なし"])
            }
            else
            {
                document.getElementById("class_" + (j+1)).innerHTML = j+1;
                document.getElementById("class_" + (j+1) + "_name").innerHTML = datas[j][0];
                document.getElementById("class_" + (j+1) + "_score").innerHTML = datas[j][1];
                //ranking.push([datas[i][0],datas[i][1]])
            }
        }



        
        </script>
            
    </body>
</html>