{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>目指せ！タッチタイパーマン！（仮）</title>
        <meta name="description" content="Hackathon_MML">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <!-- <script src="main.js"></script> -->
    </head>
    <body>
        <!----- header----->
        <!-- <header></header> -->
        <!----- /header ----->
        
        <!----- main ----->
        <div class="container">
            <h1>目指せ！タッチタイパーマン！（{{user.username}}）</h1>
            <div id="start-screen">
                <input class = "button" type="button" onclick="link1()" value="プレイ">
                <input class = "button" type="button" onclick="link2()" value="遊び方">
            </div>
        </div>
        <!----- /main ----->
        
        <!----- footer ----->
        <!-- <footer></footer> -->
        <script>
            function link1()
            {
                location.href ="{% url 'login_app:diffsec' %}";
            }
            function link2()
            { 
                location.href ="{% url 'login_app:howToPlay' %}";
            }
        </script>

        <!----- /footer ----->
    </body>
</html>
