.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #AEEEEE;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.play-button,
.how-to-play-button {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.play-button:hover,
.how-to-play-button:hover {
  background-color: #45a049;
}
