h1 {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    /* border-bottom: double 6px #87CEFA; */
  }

h2 {
  color: rgb(255, 255, 255);
  /* border-bottom: double 6px #87CEFA; */
}

p{
  color: white;
  font-size: 2.0em;
}

.example2{
  /* コレpadding-left: 500px; */
  text-align: center;
}

h4 {
  margin: 0 auto;
  color: black;
  /* text-align: center; */
  height:600px;
  line-height:60px;	
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /*ページの高さに合わせる場合 */
  background-color: black;
}

.background{
  background-color: black;
}

/* .item{
  background: black;
  
} */

.text {
  text-align: center;
}

ul{
  background-color: rgb(0, 0, 0);
}

li{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin: 15px;
  background-color: rgb(0, 0, 0);
  transform: none;
}


.absolute01{
  position: absolute;
  top: 0px;
  left: 100px;
}

#fullOverlay{
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(71, 70, 70, 0.8);
  z-index: 2147483647;
}
#fullOverlay .text{
  position: absolute;
  left: 50%; top: 30%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  text-align: center;
}
#fullOverlay .botton1{
  position: absolute;
  left: 25%; top: 70%;  
}
#fullOverlay .botton2{
  position: absolute;
  left: 62.5%; top: 70%;  
}


#fullOverlay1{
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(71, 70, 70, 0.8);
  z-index: 2147483647;
}
#fullOverlay1 .text{
  position: absolute;
  left: 50%; top: 30%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  text-align: center;
}

#fullOverlay1 .score{
  position: absolute;
  left: 50%; top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  text-align: center;
}
#fullOverlay1 .botton3{
  position: absolute;
  left: 25%; top: 70%;  
}
#fullOverlay1 .botton4{
  position: absolute;
  left: 62.5%; top: 70%;  
}

.display-none{
  display:none;
}